@(name: String)
@main("About")(name){	
	<meta charset="utf-8">	
			  			<div class="col-md-2" id="leftCol">
							<div class="well new"> 
				              	<ul class="nav nav-stacked" id="sidebar">
				                  <li><a class="linktext" href="/about">Über uns</a></li>
				              	</ul>
			  				</div>
			      		</div>  
			      		<div class="col-md-10">
			                    <div class="panel panel-default">
			                      <div class="panel-body">
								  
										<div id="img">
											<img src="@routes.Assets.at("images/group.png")" alt="gruppenfoto">
										</div>
										<div id="infotext">
											
												<h2>About Music Spot</h2>
												<p>
													The main target of this web-application is, to increase the
													popularity of unknown or even badly known music artists.
													The functionality includes user entertainment through music,
													user communication with comments, user upload suggestion
													...
													
													All tracks we publish are free to use. 													
												 </p> 
												 
										</div>
										
			                    
			                  </div>
			              	</div>
			      		</div> 
}