@(name: String)
@main("Contact")(name){
	<meta charset="utf-8">
						<div class="col-md-2" id="leftCol">
							<div class="well new"> 
				              	<ul class="nav nav-stacked" id="sidebar">
				                  <li><a class="linktext" href="/contact">Kontakt</a></li>
				                  <li><a class="linktext" id="buttonFAQ" href="#FAQ">FAQ</a></li>
				              	</ul>
			  				</div>
			      		</div>  
			      		<div class="col-md-10">
			                    <div class="panel panel-default">
			                      <div class="panel-body" id="contactPanel">
			                      									
											<h6>Kontaktformular</h6>
											<form name="contact" method="post" action="/kontaktieren" enctype="multipart/form-data">
												<div class="form-group">	
													<input type="text" name="email" id="email" class="form-control" placeholder="Email" />
												</div>
												<div class="form-group">
													<textarea rows="10%" name="message" class="form-control" placeholder="Nachricht"></textarea>
												</div>
												<div class="form-group">
													<select name ="art" class="form-control">
														<option value="technisch">Technische Probleme</option>
														<option value="profil">Fragen zu meinem Profil</option>
														<option value="verbesserung">Verbesserungsvorschläge</option>
													</select>
												</div>		
												<div class="actions">
													<input type="submit" value="Nachricht abschicken" class="btn btn-inverse pull-right"/>
												</div>
											</form>						 
			                    
									</div>
								</div>
			      		</div> 
}