@(name: String)(signInForm: Form[models.Nutzer])
@import helper._
@main("SignIn")(name) {
	<meta charset="utf-8">
		<div class="col-md-2" id="leftCol">
			<div class="well new"> 
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a class="linktext" href="/contact">Kontakt</a></li>
              	</ul>
 			</div>
     	</div>  
    		<div class="col-md-10">
               <div class="panel panel-default">
                    <div class="panel-body">
					<h6>Sign In:</h6>		
					   @helper.form(action= routes.Application.signInSubmit(), '_id -> "signInForm"){	                                                
											<div class="form-group fb">
					   							@helper.inputText(signInForm("nn"), '_label->"Nutzername", '_id->"un")
										    </div>
									       		</br>
									       	<div class="form-group fb">
									       		@helper.inputText(signInForm("pw"), '_label->"Passwort", '_id->"pw")
									       	</div>
									       		</br>
									       	<div class="form-group fb">
									       		@helper.inputText(signInForm("name"), '_label->"Name", '_id->"name")
									       	</div>
									       		</br>
									       	<div class="form-group fb">
									       		@helper.inputText(signInForm("hobby"), '_label->"Hobby", '_id->"hobby")
									       	</div>
									       		</br>
									       	<div class="form-group fb">
									       		@helper.inputText(signInForm("bild"), '_label->"Bild", '_id->"bild")
									       	</div>
									       		</br>
									       	<div class="actions fb">
									       		<button type="submit" class="btn btn-inverse pull-right">Sign In</button>
											</div>
										} 
				</div>
			</div>
   		</div> 

}